body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
    margin: 20px 0;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    margin: 20px 0;
}

a, a:visited {
    color: #ffffff;
}

a:hover {
    color: #dddddd;
}